 .banner{width: 100%;
  height:85vh;
  object-fit: cover;
  background-position: center 30%;
  position: relative;
  background-repeat: no-repeat;
  border-bottom: 6px double #333;
  box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.5);
  background-size:contain;
}

.banner-text {
  position: absolute;
  bottom: 20px;
  left: 40px;
  background-color: rgba(255, 248, 220, 0.6); /* sarımsı saydam kutu */
  padding: 20px 30px;
  border-left: 4px solid #333;
  font-family: "Special Elite", system-ui;
  color: #2b1d0e;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.banner-text h2 {
  font-size: 2.5rem;
  margin: 0;
}

.banner-text p {
  font-size: 1.2rem;
  margin-top: 8px;
}
