
body {
    margin: 0;
    padding: 0;
    background-color: rgb(193, 154, 107); /* Yanmış kağıt kahverengisi */
    background-image: url('https://www.transparenttextures.com/patterns/old-wall.png');
    background-repeat: repeat;
    background-size: auto;
    color: #333;
    font-family: "Special Elite", system-ui;
  
}
.afis-kartlar{
display: flex;
flex-wrap: wrap;
gap: 30px;
justify-content: center;
margin: 60px auto;
max-width: 1200px;
}
h2{
text-align: center;
}
h4{
    text-align: center;
}